<a href="https://colab.research.google.com/github/naikdarshan45/python/blob/main/Python's_Functional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
lamda_cube = lambda x: x*x*x
lamda_cube(5)

125

In [ ]:
string_length=lambda s: len(s)
string_length("darshan naik")

In [2]:
lambda_sum = lambda x,y: x+y
lambda_sum(3,4)

7

In [ ]:
fruits=["apple", "banana", "cherry", "mango","dragern_fruits"]
sorted(fruits)

fruits=["apple", "banana", "cherry", "mango","dragern_fruits"]
sorted(fruits, key=lambda x: len(x))

In [11]:
# sort a list of dictionary on the basis of specific key

employee_record=[{"name":"darshan", 'age': 20, 'occupation':'enginerring'},
                 {"name":"harsha", 'age': 14, 'occupation':'doctor'},
                 {"name":"nikill", 'age': 29, 'occupation':'datascientist'},
                  {"name":"dil", 'age': 29, 'occupation':'datascientist'}]

In [ ]:
data = {'a': 10, 'b': 20, 'c': 5, 'd': 15}
max(data, key=lambda x: data[x])

In [9]:
sorted(employee_record, key=lambda x:x['age'])

[{'name': 'harsha', 'age': 14, 'occupation': 'doctor'},
 {'name': 'darshan', 'age': 20, 'occupation': 'enginerring'},
 {'name': 'nikill', 'age': 29, 'occupation': 'datascientist'}]

In [12]:
sorted(employee_record, key=lambda x:(x['age'],x['name']))

[{'name': 'harsha', 'age': 14, 'occupation': 'doctor'},
 {'name': 'darshan', 'age': 20, 'occupation': 'enginerring'},
 {'name': 'dil', 'age': 29, 'occupation': 'datascientist'},
 {'name': 'nikill', 'age': 29, 'occupation': 'datascientist'}]

In [18]:
#  map function
# l1=[2,4,5,6,7]
# l2=[]

# for ele in l1:
#   l2.append(ele**2)
# print(l2)



l2=list(map(lambda l1:l1**2, l1))
print(l2)

[4, 16, 25, 36, 49]

In [19]:
map(lambda l1:l1**2, l1)

In [20]:
# filter
l3=[2,3,5,7,8,9,13,15]
l4 =list(filter(lambda x:x%2==0, l3))
print(l4)

[2, 8]

In [ ]:
#reduce