<a href="https://colab.research.google.com/github/naikdarshan45/python/blob/main/Python_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str1="darshan"
for i in str1:
  print(i)

d
a
r
s
h
a
n

In [ ]:
for i in str1:
  print(i.upper())

D
A
R
S
H
A
N

In [7]:
list=[2,4,5,6,7,8,33,44.67,34,67]
for num in list:
  if num%2==0:
    print(num)

2
4
6
8
34

In [9]:
num=5
factorial = 1
while(num>0):
  factorial *= num
  num -= 1
print(factorial)

120

In [11]:
for i in list:
  print(i)
  if i == 8:
    break
else:
  print("Loop executed successfully")

2
4
5
6
7
8

In [12]:
str2 = "Ankit"
for i in str2:
  print(i)
else:
  print("Loop executed successfully")

A
n
k
i
t
Loop executed successfully

In [13]:
for i in list:
  print(i)
  if i == 8:
    break
else:
  print("Loop executed successfully")

2
4
5
6
7
8

In [20]:
list2=[2,3,4,5,6,7,8,9]
low = 0
high = len(list2) -1
while low < high:
  list2[low], list2[high] = list2[high], list2[low]
  low +=1
  high -=1
print(list2)

[9, 8, 7, 6, 5, 4, 3, 2]